@charset "UTF-8";
/*
List Variables
*/
/*
Primero van las variables
*/
.redes-linkedin {
  color: #0000ff;
}

.redes-whatsapp {
  color: #00b938;
}

.redes-facebook {
  color: #0000ff;
}

.redes-envelope {
  color: rgb(190, 54, 190);
}

.values-heart {
  color: #dd5900;
}

.values-arrow {
  color: #022f81;
}

.values-people {
  color: #dd5900;
}

.container__grid {
  display: grid;
  grid-template-areas: "links links links" "content content content" "content content content" "foot foot foot";
}

.nav {
  grid-area: links;
}

.content {
  grid-area: content;
}

.container__footer {
  grid-area: foot;
}

/*
Layout 
*/
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
}

main {
  width: auto;
  min-width: 100%;
  margin: 0;
}

.style__navbar {
  width: 100%;
  color: white;
  background-color: #000222;
  position: fixed;
  z-index: 1;
}

.style__navbar__logo img {
  width: 50px;
  height: 50px;
}

.style__navbar__li a {
  color: rgb(244, 244, 250);
  margin-left: 20px;
}

.style__navbar__li a:hover {
  color: #000150;
  background-color: white;
}

.portada h1 {
  display: flex;
  text-align: end;
  color: white;
  position: absolute;
  z-index: 1;
  font-weight: 800;
}

.main {
  display: flex;
  flex-direction: column;
}
.main__title {
  display: flex;
  flex-direction: column;
}
.main__title h2 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 32px;
  background-color: #120033;
  color: white;
  font-weight: 800;
}
.main__title p {
  padding-top: 10px;
  color: #747474;
  font-size: 20px;
}
.main__rubros {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main__rubros__explication {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: white;
}
.main__rubros__explication h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
}
.main__rubros__explication p {
  font-size: 15px;
  font-family: "Times New Roman", serif;
  quotes: "“" "”";
  padding: 10px;
  text-align: center;
}
.main__rubros__explication p:before,
.main__rubros__explication p:after {
  content: open-quote;
  font-size: 50px;
  vertical-align: middle;
}
.main__rubros__explication p:after {
  content: close-quote;
}
.main__rubros__text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #000142;
  margin: 10px;
  height: 400px;
  border-radius: 200px 100px 200px 100px;
}
.main__rubros__text__2 {
  display: none;
  background-color: rgba(241, 228, 228, 0.2901960784);
  width: 100%;
  height: 100%;
  justify-content: center;
}
.main__rubros__text__1 {
  color: white;
  font-weight: 600;
  background-image: url(../assets/logistica-v3.JPG);
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 200px 100px 200px 100px;
}
.main__rubros__text__1 p {
  font-family: initial;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(14, 14, 14, 0.5882352941);
  width: 100%;
}
.main__rubros__text:hover .main__rubros__text__1 {
  display: none;
}
.main__rubros__text:hover .main__rubros__text__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 30px;
  align-items: center;
  width: 100%;
  color: white;
}
.main__rubros__text a {
  text-decoration: none;
  color: white;
  background-color: rgba(128, 126, 131, 0.5803921569);
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}
.main__rubros__text a:hover {
  transform: scale(1.5);
}
.main__rubros__reverse {
  display: flex;
  flex-direction: row-reverse;
}
.main__rubros__reverse__explication {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 10px;
}
.main__rubros__reverse__explication h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
}
.main__rubros__reverse__explication p {
  font-size: 15px;
  font-family: "Times New Roman", serif;
  quotes: "“" "”";
  padding: 10px;
  text-align: center;
}
.main__rubros__reverse__explication p:before,
.main__rubros__reverse__explication p:after {
  content: open-quote;
  font-size: 50px;
  vertical-align: middle;
}
.main__rubros__reverse__explication p:after {
  content: close-quote;
}
.main__rubros__reverse__text {
  display: flex;
  width: 50%;
  height: 400px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.main__rubros__reverse__text__2 {
  display: none;
  background-color: rgba(102, 1, 1, 0.9843137255);
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 200px 100px 200px 100px;
}
.main__rubros__reverse__text__1 {
  color: white;
  font-weight: 600;
  background-image: url(../assets/transporte-v3.JPG);
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 200px 100px 200px 100px;
}
.main__rubros__reverse__text__1 p {
  font-family: initial;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main__rubros__reverse__text:hover .main__rubros__reverse__text__1 {
  display: none;
}
.main__rubros__reverse__text:hover .main__rubros__reverse__text__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 30px;
  align-items: center;
  width: 100%;
  color: white;
}
.main__rubros__reverse__text a {
  text-decoration: none;
  color: white;
  background-color: rgba(128, 126, 131, 0.5803921569);
  padding: 10px;
  border-radius: 20px;
}
.main__rubros__reverse__text a:hover {
  transform: scale(1.5);
}

.advice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
}
.advice__title {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.advice__title h2 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 32px;
  background-color: #120033;
  color: white;
  font-weight: 800;
}
.advice__title p {
  padding-top: 10px;
  color: #747474;
  font-size: 20px;
}
.advice__description {
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 20px 50px 20px;
}
.advice__description__text {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 30px;
  margin: 30px;
  box-shadow: 8px -8px 8px 0px #e5e5e5;
}
.advice__description__text p {
  text-align: justify;
}
.advice__description__text img {
  width: 100%;
  padding: 0px 90px 0px 90px;
}
.advice__description__text h2 {
  color: #000150;
  text-align: center;
  padding: 10px 0px 10px 0px;
}
.advice__description__text ul {
  text-align: justify;
}
.advice__description__text li {
  padding-bottom: 10px;
}

.img-3 {
  padding-bottom: 40px;
  width: 100%;
  content-visibility: hidden;
}

.because {
  display: flex;
  flex-direction: column;
  background-color: #da7c03;
}
.because__title {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 140px;
  color: #dbdbdb;
}
.because__title h2 {
  font-weight: bolder;
  font-size: 40px;
}
.because__column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px;
}
.because__reason {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 30px 0px 30px;
}
.because__reason p {
  text-align: justify;
  font-size: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 3px solid #684301;
  border-radius: 50%;
  background-color: #aca6c5;
}

.prevencion {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  margin-right: 5px;
}

.safe {
  font-family: sans-serif;
  font-size: 14px;
  color: #b16c00;
}

.container__footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0a0135;
}
.container__footer__description {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.container__footer__description__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 40px;
}
.container__footer__description__img img {
  width: 100%;
  border-radius: 165px;
}
.container__footer__description__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.container__footer__description__text h6 {
  text-align: center;
  color: #797979;
  font-size: 20px;
  font-weight: 500;
}
.container__footer__description__text li {
  color: #797979;
}
.container__footer__column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container__footer__column__footer__rrss {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.container__footer__column__footer__rrss svg {
  animation-name: mianimacionrrss;
  animation-duration: 5s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes mianimacionrrss {
  0% {
    donw: 0;
    top: 0px;
  }
  25% {
    color: rgb(139, 138, 138);
    donw: 10px;
    top: 5px;
  }
  50% {
    donw: 20px;
    top: 10px;
  }
  75% {
    donw: 30px;
    top: 15px;
  }
  100% {
    donw: 60px;
    top: 0px;
  }
}

.rubros__title {
  background-image: url(../assets/logistica-2-v3.JPG);
  width: 100%;
}
.rubros__title__service {
  background-color: rgba(0, 0, 0, 0.5294117647);
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: white;
  font-weight: 800;
}
.rubros__title__service h2 {
  padding: 190px;
  font-weight: 800;
  margin-bottom: 0px;
}
.rubros__title__service h2 p {
  color: rgb(122, 122, 122);
  font-size: 25px;
}

.transport__title {
  background-image: url(../assets/transporte-2-v3.JPG);
  width: 100%;
}
.transport__title__service {
  background-color: rgba(0, 0, 0, 0.5294117647);
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: white;
  font-weight: 800;
}
.transport__title__service h2 {
  padding: 190px;
  font-weight: 800;
  margin-bottom: 0px;
}
.transport__title__service h2 p {
  color: rgb(122, 122, 122);
  font-size: 25px;
}

.construction__title {
  background-image: url(../assets/construccion-v3.JPG);
  width: 100%;
}
.construction__title__service {
  background-color: rgba(0, 0, 0, 0.5294117647);
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: white;
  font-weight: 800;
}
.construction__title__service h2 {
  padding: 190px;
  font-weight: 800;
  margin-bottom: 0px;
}
.construction__title__service h2 p {
  color: rgb(122, 122, 122);
  font-size: 25px;
}

.nav__rubros {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #000222;
  padding: 20px;
}
.nav__rubros__menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.nav__rubros__menu a {
  text-decoration: none;
}
.nav__rubros__menu p {
  color: white;
}
.nav__rubros__menu p:hover {
  color: #020252;
  background-color: #a3a3a3;
  transform: scale(1.2);
  padding: 5px;
  border-radius: 10px;
  font-weight: 700;
}

.category {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.category__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #323476;
  margin: 10px;
}
.category__text:hover {
  background-color: #555353;
}
.category__text h4 {
  color: white;
  padding: 30px;
  text-align: center;
}
.category__text ul {
  color: white;
}
.category__img {
  width: 50%;
  margin: 10px;
}
.category__img img {
  width: 100%;
  height: 100%;
}
.category__reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.category__reverse__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #57327a;
  margin: 10px;
}
.category__reverse__text:hover {
  background-color: #555353;
}
.category__reverse__text h4 {
  color: white;
  padding: 30px;
  text-align: center;
}
.category__reverse__text ul {
  color: white;
}
.category__reverse__img {
  width: 50%;
  margin: 10px;
}
.category__reverse__img img {
  width: 100%;
  height: 100%;
}

.front-page {
  background-color: black;
}
.front-page h2 {
  display: flex;
  position: absolute;
  width: 100%;
  padding-top: 20%;
  color: white;
  font-weight: 600;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 40px;
}
.front-page p {
  display: flex;
  position: absolute;
  width: 100%;
  padding-top: 29%;
  padding-left: 15%;
  padding-right: 15%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  color: white;
}
.front-page img {
  opacity: 0.5;
}

.more__about {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 40px;
}
.more__about__img {
  display: flex;
  width: 50%;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.more__about__img img {
  width: 100%;
  border-radius: 200px 100px 200px 100px;
}
.more__about__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 30px;
}
.more__about__text h2 {
  font-weight: 900;
  font-size: 40px;
  color: #000222;
  font-family: "Bebas Neue", sans-serif;
}
.more__about__text p {
  color: black;
  line-height: 2.5;
}
.more__about__reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.more__about__reverse__img {
  display: flex;
  width: 50%;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.more__about__reverse__img img {
  width: 100%;
  border-radius: 100px 200px 100px 200px;
}
.more__about__reverse__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 30px;
}
.more__about__reverse h2 {
  font-weight: 900;
  font-size: 40px;
  color: #000222;
  font-family: "Bebas Neue", sans-serif;
}
.more__about__reverse p {
  color: black;
  line-height: 2.5;
}

.values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.values__title {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.values__title h2 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 32px;
  background-color: black;
  color: white;
  font-weight: 800;
  padding-top: 120px;
  padding-bottom: 120px;
}
.values__title p {
  padding-top: 10px;
  color: #747474;
  font-size: 20px;
}
.values__title h2 {
  margin-bottom: 0px;
  color: white;
  padding: 50px;
  font-size: 40px;
  font-weight: 700;
}
.values__text {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-image: url(../assets/values-v3.JPG);
}
.values__text__part {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  text-align: center;
  align-items: center;
  padding: 30px 30px 0px 30px;
  background-color: rgba(255, 255, 255, 0.5294117647);
}
.values__text__part svg {
  animation-name: mianimacion;
  animation-duration: 5s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes mianimacion {
  0% {
    donw: 0;
    top: 0px;
  }
  25% {
    donw: 10px;
    top: 5px;
  }
  50% {
    donw: 20px;
    top: 10px;
  }
  75% {
    donw: 30px;
    top: 15px;
  }
  100% {
    donw: 60px;
    top: 0px;
  }
}
.values__text h3 {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-weight: 800;
  font-family: system-ui;
  animation-name: mianimacion2;
  animation-duration: 5s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes mianimacion2 {
  0% {
    donw: 0;
    top: 0px;
  }
  25% {
    color: blue;
  }
  50% {
    color: rgb(6, 6, 115);
  }
  75% {
    color: rgb(19, 0, 126);
  }
  100% {
    color: rgb(6, 6, 115);
  }
}
.values__text p {
  color: black;
  font-weight: 800;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  padding: 30px;
}
.information__text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ababab;
}
.information__text1 h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 5px 20px;
}

.content__title {
  background-image: url(../assets/asesoria-asesoria-v3.JPG);
  width: 100%;
}
.content__title__service {
  background-color: rgba(0, 0, 0, 0.5294117647);
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: white;
  font-weight: 800;
}
.content__title__service h2 {
  padding: 190px;
  font-weight: 800;
  margin-bottom: 0px;
}
.content__title__service h2 p {
  color: rgb(169, 169, 173);
  font-size: 25px;
  background-color: rgba(42, 69, 69, 0.3803921569);
}

.type__service {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.type__service__text {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #adadad;
  margin: 10px;
}
.type__service__text__button {
  background-color: #164747;
  color: white;
  width: 100%;
  height: 100%;
}
.type__service__text h5 {
  text-align: center;
  padding-top: 40px;
}
.type__service__text p {
  display: flex;
  text-align: justify;
  padding: 50px;
  justify-content: center;
}
.type__service__img {
  display: flex;
  width: 50%;
  margin: 10px;
}
.type__service__img img {
  width: 100%;
}
.type__service__modal {
  background-color: #8d8d8d;
}
.type__service__modal h1 {
  text-align: center;
  width: 100%;
  font-weight: 800;
  color: white;
}
.type__service__body {
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.type__service__body h4 {
  font-weight: 800;
  padding-bottom: 20px;
}
.type__service__reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.type__service__reverse__text {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #adadad;
  margin: 10px;
}
.type__service__reverse__text__button {
  background-color: #164747;
  color: white;
  width: 100%;
  height: 100%;
}
.type__service__reverse__text h5 {
  text-align: center;
  padding-top: 40px;
}
.type__service__reverse__text p {
  display: flex;
  text-align: justify;
  padding: 50px;
  justify-content: center;
}
.type__service__reverse__img {
  display: flex;
  width: 50%;
  margin: 10px;
}
.type__service__reverse__img img {
  width: 100%;
}

.content__title {
  background-image: url(../assets/planes-v3.JPG);
  width: 100%;
}
.content__title__service {
  background-color: rgba(0, 0, 0, 0.5294117647);
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: white;
  font-weight: 800;
}
.content__title__service h2 {
  padding: 190px;
  font-weight: 800;
  margin-bottom: 0px;
  color: white;
  font-size: 40px;
}
.content__title__service h2 p {
  color: rgb(169, 169, 173);
  font-size: 25px;
  background-color: rgba(42, 69, 69, 0.3803921569);
}

.plans {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.plans__nav {
  display: flex;
  flex-direction: column;
  background-color: #000222;
}
.plans__nav h2 {
  display: flex;
  justify-content: center;
  color: #ff6900;
  font-weight: 600;
}
.plans__nav__sub {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}
.plans__nav__sub__text {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.plans__nav__sub__text a {
  text-decoration: none;
}
.plans__nav__sub__text p {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 10px;
  color: white;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}
.plans__nav__sub__text p:hover {
  color: #ff6900;
  transform: scale(1.1);
}
.plans__nav__sub__text svg {
  margin-bottom: 20px;
}
.plans__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 30px;
}
.plans__row h5 {
  text-align: center;
  width: 100%;
  font-weight: 700;
}
.plans__row img {
  width: 50%;
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}
.plans__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 10px;
  border-top: 5px solid white;
  border-right: 2.5px solid white;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}
.plans__right H5 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30PX;
}
.plans__right li {
  text-align: justify;
  padding: 0px 25px 0px 25px;
  margin: 0px 5px 0px 5px;
  font-size: 16px;
}
.plans__right__position {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2c2c4e;
}
.plans img {
  display: flex;
  flex-direction: row;
  border-radius: 200px 100px 200px 100px;
}

.plans {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.plans__row__reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding-bottom: 30px;
}
.plans__row__reverse h5 {
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30PX;
}
.plans__row__reverse img {
  width: 50%;
  border-top: 2.5px solid white;
  border-right: 2.5px solid white;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}
.plans__reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 10px;
  border-top: 2.5px solid white;
  border-right: 5px solid white;
  border-bottom: 2.5px solid white;
  border-left: 5px solid white;
}
.plans__reverse li {
  text-align: justify;
  padding: 0px 25px 0px 25px;
  margin: 0px 5px 0px 5px;
  color: black;
  font-size: 16px;
}
.plans__reverse img {
  display: flex;
  flex-direction: row;
  border-radius: 100px 200px 100px 200px;
}

.content__contact {
  width: 100%;
}

.content__contact {
  padding-top: 90px;
  background-color: #ccc;
}

.form__contacto {
  background-color: #000;
  width: 50%;
}

.campocontacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #000222;
  padding: 20px;
}
.campocontacto h3 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
}
.campocontacto__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  color: white;
}

.call {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.callme {
  display: flex;
  margin-left: 320px;
  background-color: rgb(0, 130, 134);
  padding: 0px 30px 0px 30px;
  border-radius: 10px;
}
.callme:hover {
  background-color: rgb(0, 51, 51);
}
.callme__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 18px 0px 5px 0px;
}
.callme__button p {
  color: white;
  font-weight: 900;
}

form {
  width: 100%;
}

.campo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.campo {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
}

input[type=submit] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.style-form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 900;
  font-family: serif;
}

/*
Media queries
*/
@media (max-width: 700px) {
  .container__grid {
    display: grid;
    grid-template-areas: "links" "content_index" "foot ";
  }
  .nav {
    grid-area: links;
  }
  .content {
    grid-area: content_index;
  }
  .container__footer {
    grid-area: foot;
  }
  .portada h1 {
    font-size: 20px;
    padding: 100px 30px 0px 30px;
  }
  .main__title {
    width: 100%;
  }
  .main__title h2 {
    font-size: 25px;
  }
  .main__title h2 P {
    font-size: 15px;
  }
  .main__rubros {
    display: flex;
    flex-direction: column-reverse;
  }
  .main__rubros__explication {
    width: 100%;
    margin: 0px;
    height: 400px;
  }
  .main__rubros__text {
    width: 100%;
    margin: 0px;
  }
  .main__rubros__text__1 {
    font-weight: 300;
  }
  .main__rubros__text__1 p {
    font-size: 20px;
    display: contents;
  }
  .main__rubros__reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .main__rubros__reverse__explication {
    width: 100%;
    margin: 0px;
    height: 400px;
  }
  .main__rubros__reverse__text {
    width: 100%;
    margin: 0px;
  }
  .main__rubros__reverse__text__1 {
    font-weight: 300;
  }
  .main__rubros__reverse__text__1 p {
    display: contents;
    font-size: 20px;
  }
  .advice {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 20px;
  }
  .advice__title {
    display: flex;
    flex-direction: column;
  }
  .advice__title h2 {
    font-size: 20px;
  }
  .advice__title h2 p {
    font-size: 15px;
  }
  .advice__description {
    display: flex;
    justify-content: Center;
    width: 100%;
    margin: 50px 20px 50px 20px;
  }
  .advice__description__text {
    width: 100%;
  }
  .advice__description__text img {
    padding: 0px;
  }
  .advice__description__picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px 5px 0px 5px;
  }
  .because__column {
    display: flex;
    flex-direction: column;
  }
  .container__footer__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .container__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__footer__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .container__grid {
    display: grid;
    grid-template-areas: "links" "content_index" "foot ";
  }
  .nav {
    grid-area: links;
  }
  .content {
    grid-area: content_index;
  }
  .container__footer {
    grid-area: foot;
  }
  .front-page h2 {
    content-visibility: hidden;
  }
  .front-page p {
    content-visibility: hidden;
  }
  .more__about {
    display: flex;
    flex-direction: column;
  }
  .more__about__img {
    width: 100%;
  }
  .more__about__text {
    width: 100%;
  }
  .more__about__reverse {
    display: flex;
    flex-direction: column;
  }
  .more__about__reverse__img {
    width: 100%;
  }
  .more__about__reverse__text {
    width: 100%;
  }
  .values {
    display: flex;
    flex-direction: column;
  }
  .values__title {
    color: aliceblue;
  }
  .values__title h2 {
    font-size: 20px;
  }
  .values__title P {
    font-size: 15px;
  }
  .values__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .values__text__part {
    width: 100%;
  }
  .information {
    display: flex;
    flex-direction: column;
    justify-content: justify;
  }
  .information__text1 {
    padding: 10px;
  }
}
@media (max-width: 700px) {
  .container__grid {
    display: grid;
    grid-template-areas: "links" "content_index" "foot ";
  }
  .nav {
    grid-area: links;
  }
  .content {
    grid-area: content_index;
  }
  .container__footer {
    grid-area: foot;
  }
  .title__service {
    display: flex;
    flex-direction: column;
  }
  .title__service h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 22px;
    background-color: #120033;
    color: white;
    font-weight: 800;
  }
  .title__service p {
    padding-top: 10px;
    color: #747474;
    font-size: 15px;
  }
  .content__title__service {
    display: flex;
    flex-direction: column;
  }
  .content__title__service h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    width: 100%;
  }
  .type__service {
    display: flex;
    flex-direction: column;
  }
  .type__service__text {
    width: 100%;
    margin: 0px;
  }
  .type__service__img {
    width: 100%;
    margin: 0px;
  }
  .type__service__reverse {
    display: flex;
    flex-direction: column;
  }
  .type__service__reverse__text {
    width: 100%;
    margin: 0px;
  }
  .type__service__reverse__img {
    width: 100%;
    margin: 0px;
  }
  .content__service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0px 30px 0px;
  }
  .content__service__row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content__service__col {
    height: 400px;
  }
}
@media (max-width: 700px) {
  .container__grid {
    display: grid;
    grid-template-areas: "links" "content_index" "foot ";
  }
  .nav {
    grid-area: links;
  }
  .content {
    grid-area: content_index;
  }
  .container__footer {
    grid-area: foot;
  }
  .plans {
    display: flex;
  }
  .plans__nav {
    display: flex;
    flex-direction: column;
  }
  .plans__nav__sub {
    display: flex;
    flex-direction: column;
  }
  .plans__row {
    display: flex;
    flex-direction: column;
  }
  .plans__row img {
    width: 100%;
  }
  .plans__row__reverse {
    display: flex;
    flex-direction: column;
  }
  .plans__row__reverse img {
    width: 100%;
  }
  .plans__right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .plans__reverse {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .container__grid {
    display: grid;
    grid-template-areas: "links" "content_index" "foot ";
  }
  .nav {
    grid-area: links;
  }
  .content {
    grid-area: content_index;
  }
  .container__footer {
    grid-area: foot;
  }
  .construction__title {
    display: flex;
    width: 100%;
  }
  .construction__title__service {
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .construction__title__service h2 {
    padding: 100px 0px 0px 0px;
    font-weight: 800;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .construction__title__service h2 P {
    font-size: 15px;
  }
  .nav__rubros {
    display: flex;
    flex-direction: column;
  }
  .nav__rubros__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .category {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .category__text {
    width: 100%;
    margin: 0px;
  }
  .category__img {
    width: 100%;
    margin: 0px;
  }
  .category__reverse {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .category__reverse__text {
    width: 100%;
    margin: 0px;
  }
  .category__reverse__img {
    width: 100%;
    margin: 0px;
  }
  .title__service__rubros {
    display: flex;
    flex-direction: column;
  }
  .title__service__rubros h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 22px;
    background-color: #120033;
    color: white;
    font-weight: 800;
  }
  .title__service__rubros p {
    padding-top: 10px;
    color: #747474;
    font-size: 15px;
  }
  .service__explanation {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    padding-top: 20px;
    margin: 8px;
    box-shadow: -2px 3px 9px 2px #717997;
  }
  .service__explanation__reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    background-color: #ebebeb;
    padding-top: 20px;
    margin: 8px;
    box-shadow: -2px 3px 9px 2px #717997;
  }
  .service__explanation__reverse__text {
    margin-left: 50px;
  }
}
@media (max-width: 700px) {
  .container__grid {
    display: grid;
    grid-template-areas: "links" "content_index" "foot ";
  }
  .nav {
    grid-area: links;
  }
  .content {
    grid-area: content_index;
  }
  .container__footer {
    grid-area: foot;
  }
  .form__contacto {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
