/*
List Variables
*/
/*
Primero van las variables
*/
.redes-linkedin {
  color: #0000ff;
}

.redes-whatsapp {
  color: #00b938;
}

.redes-facebook {
  color: #0000ff;
}

.redes-envelope {
  color: rgb(190, 54, 190);
}

.container__grid {
  display: grid;
  grid-template-areas: "links links links" "content content content" "content content content" "foot foot foot";
}

.nav {
  grid-area: links;
}

.content {
  grid-area: content;
}

.container__footer {
  grid-area: foot;
}

/*
Layout 
*/
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
}

main {
  width: auto;
  min-width: 100%;
  margin: 0;
}

.style__navbar {
  width: 100%;
  color: white;
  background-color: #000222;
  /*position: fixed;*/
}

.style__navbar__logo img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.style__navbar__li a {
  color: rgb(244, 244, 250);
  margin-left: 20px;
}

.style__navbar__li a:hover {
  color: #000150;
  background-color: white;
}

.collage__index {
  background-color: black;
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}
.collage__index__column-1 {
  width: 100%;
  background-color: #000222;
}
.collage__index__row {
  display: flex;
  flex-direction: row;
}
.collage__index__column-2 {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background-color: #000222;
}
.collage__index__column-2__title {
  background-color: #000000;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  justify-content: center;
}
.collage__index__column-2__title h3 {
  font-weight: bolder;
  padding-top: 30px;
}
.collage__index__column-2__title p {
  color: white;
  font-size: small;
}
.collage__index__column-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000222;
}

.carousel__service {
  background-color: #171718;
  width: 100%;
  border-left: 0px solid transparent;
  border-bottom: 50px solid #000129;
}
.carousel__service__width img {
  opacity: 0.5;
  height: 400px;
}
.carousel__service a {
  text-decoration: none;
  color: white;
}
.carousel__service h5 {
  font-size: 50px;
}
.carousel__service p {
  color: white;
}

.advice {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #e7e7e7;
}
.advice__description {
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 20px 50px 20px;
}
.advice__description__text {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 30px;
  margin: 30px;
  box-shadow: 8px -8px 8px 0px #e5e5e5;
}
.advice__description__text p {
  text-align: justify;
}
.advice__description__text h2 {
  color: #000150;
  text-align: center;
  padding: 10px 0px 10px 0px;
}
.advice__description__text ul {
  text-align: justify;
}
.advice__description__text li {
  padding-bottom: 10px;
}
.advice__description__picture {
  display: flex;
  width: 100%;
  margin-left: 20px;
  flex-direction: column;
}
.advice__description__picture img {
  padding-bottom: 40px;
  width: 100%;
}

.img-3 {
  padding-bottom: 40px;
  width: 100%;
  content-visibility: hidden;
}

.because {
  display: flex;
  flex-direction: column;
  background-color: #df840b;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0, 0% 100px);
}
.because__title {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 140px;
}
.because__title h2 {
  font-weight: bolder;
  font-size: 40px;
}
.because__column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px;
}
.because__reason {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 30px 0px 30px;
}
.because__reason p {
  text-align: justify;
  font-size: 1rem;
}

.container__footer__column {
  display: flex;
  justify-content: space-around;
  background-color: #0a0135;
  padding: 20px 0px 20px 0px;
}
.container__footer__column h3 {
  color: #2ae8b5;
}
.container__footer__column ul {
  padding: 0px;
}
.container__footer__column li {
  list-style: none;
  padding-top: 20px;
}
.container__footer__column li a {
  text-decoration: none;
  color: white;
}
.container__footer__column li a:hover {
  color: #ec0e37;
}
.container__footer__column__footer__rrss {
  display: flex;
  justify-content: space-evenly;
}

.title__service__rubros {
  display: flex;
  flex-direction: column;
}
.title__service__rubros h2 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 32px;
  background-color: #120033;
  color: white;
  font-weight: 800;
}
.title__service__rubros p {
  padding-top: 10px;
  color: #747474;
  font-size: 20px;
}
.title__service__rubros__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.title__service__rubros__menu a {
  text-decoration: none;
}
.title__service__rubros__menu p {
  color: blue;
}
.title__service__rubros__menu p:hover {
  font-size: 20px;
  font-weight: 600;
}

.service__explanation {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 50px;
}
.service__explanation__img {
  display: flex;
  align-items: center;
}
.service__explanation__img img {
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.service__explanation__text {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  align-content: space-evenly;
  margin-left: 40px;
}
.service__explanation__text h4 {
  padding-bottom: 1rem;
  font-weight: 600;
}
.service__explanation__text li {
  padding-bottom: 0.5rem;
}
.service__explanation__reverse {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  margin-top: 50px;
}
.service__explanation__reverse__text {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  align-content: space-evenly;
  margin-right: 40px;
}
.service__explanation__reverse__text h4 {
  padding-bottom: 1rem;
  font-weight: 600;
}
.service__explanation__reverse__text li {
  padding-bottom: 0.5rem;
}

.more__details {
  display: flex;
  flex-direction: column;
}
.more__details h3 {
  text-align: center;
  background-color: #120033;
  color: white;
  font-weight: 600;
  height: 80px;
  padding-top: 20px;
}
.more__details__column {
  display: flex;
  justify-content: space-evenly;
  background-color: #cf7c06;
}
.more__details__column li {
  padding-top: 10px;
  color: #e3e3e3;
  font-weight: 300;
}
.more__details__column p {
  font-size: 12px;
  color: black;
  font-weight: 400;
}

.title__about {
  display: flex;
  flex-direction: column;
}
.title__about h2 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 32px;
  background-color: #120033;
  color: white;
  font-weight: 800;
}
.title__about p {
  padding-top: 10px;
  color: #747474;
  font-size: 20px;
}
.title__about__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.title__about__menu a {
  text-decoration: none;
}
.title__about__menu p {
  color: blue;
}
.title__about__menu p:hover {
  font-size: 20px;
  font-weight: 600;
}

.explanation__us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #b46e05;
  padding-top: 40px;
}
.explanation__us__img {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0px 0px 0px 50px;
}
.explanation__us__img img {
  justify-content: center;
}
.explanation__us__text {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 20px 20px;
}
.explanation__us__text h3 {
  font-size: 20px;
  color: #ffffff;
}
.explanation__us__text h2 {
  font-size: 20px;
  color: #ffffff;
}
.explanation__us__text p {
  text-align: justify;
  padding-top: 30px;
  color: #ffffff;
}

.more__details__about__vision {
  display: flex;
  flex-direction: row;
  padding: 200px 0px 200px 0px;
  background-color: #000150;
}
.more__details__about__vision__img {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 50px;
}
.more__details__about__vision__img img {
  border-radius: 20px;
}
.more__details__about__vision__text {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 0px 50px;
}
.more__details__about__vision__text h2 {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
}
.more__details__about__vision__text p {
  text-align: justify;
  padding-top: 20px;
  color: #ffffff;
}

.more__details__about__mision {
  display: flex;
  flex-direction: row-reverse;
  padding: 200px 0px 200px 0px;
  background-color: rgba(183, 59, 0, 0.8705882353);
}
.more__details__about__mision__img {
  display: flex;
  align-items: center;
  padding: 0px 50px 0px 0px;
}
.more__details__about__mision__img img {
  border-radius: 20px;
}
.more__details__about__mision__text {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 0px 50px;
}
.more__details__about__mision__text h2 {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
}
.more__details__about__mision__text p {
  text-align: justify;
  padding-top: 20px;
  color: #ffffff;
}

.title__service {
  display: flex;
  flex-direction: column;
}
.title__service h2 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 32px;
  background-color: #120033;
  color: white;
  font-weight: 800;
}
.title__service p {
  padding-top: 10px;
  color: #747474;
  font-size: 20px;
}

.content__service {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 30px 0px 30px 0px;
}
.content__service__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__service__col {
  display: flex;
  width: 100%;
  height: 350px;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 45px;
  padding: 0px 30px 0px 30px;
}
.content__service__col h5 {
  padding-top: 40px;
  text-align: center;
  font-weight: bolder;
}
.content__service__col img {
  display: flex;
  width: 56px;
  height: 56px;
}
.content__service__col p {
  padding-top: 10px;
  text-align: justify;
}
.content__service__btn__see__more {
  background-color: cadetblue;
  border: none;
}
.content__service__body__see__more {
  width: 100%;
  height: 400px;
}
.content__service__body__see__more h4 {
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
}
.content__service__body__see__more p {
  padding: 40px;
}

.plans {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.plans__row {
  display: flex;
  flex-direction: row;
}
.plans__row h5 {
  text-align: center;
  width: 100%;
  font-weight: 700;
}
.plans__row img {
  width: 400px;
}
.plans__right {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #a15f00;
  padding: 30px;
}
.plans__right li {
  text-align: justify;
  padding: 0px 25px 0px 25px;
  margin: 0px 5px 0px 5px;
}
.plans__right img {
  display: flex;
  flex-direction: row;
}

.plans {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.plans__row__reverse {
  display: flex;
  flex-direction: row-reverse;
}
.plans__row__reverse h5 {
  text-align: center;
  width: 100%;
  font-weight: 700;
  color: white;
}
.plans__row__reverse img {
  width: 400px;
}
.plans__reverse {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #00045b;
  padding: 30px;
}
.plans__reverse li {
  text-align: justify;
  padding: 0px 25px 0px 25px;
  margin: 0px 5px 0px 5px;
  color: white;
}
.plans__reverse img {
  display: flex;
  flex-direction: row;
}

/*
Media queries
*/
@media (max-width: 700px) {
  .container__grid {
    display: grid;
    grid-template-areas: "links" "content_index" "foot ";
  }
  .nav {
    grid-area: links;
  }
  .content {
    grid-area: content_index;
  }
  .container__footer {
    grid-area: foot;
  }
  .collage__index {
    background-color: black;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .collage__index__column-1 {
    width: 100%;
    background-color: #000222;
  }
  .collage__index__column-1 img {
    content-visibility: hidden;
  }
  .collage__index__row {
    display: flex;
    flex-direction: column;
    content-visibility: hidden;
  }
  .collage__index__column-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000222;
  }
  .collage__index__column-2__title {
    background-color: #000000;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    justify-content: center;
  }
  .collage__index__column-2__title h3 {
    font-weight: bolder;
    padding-top: 30px;
  }
  .collage__index__column-2__title p {
    color: white;
    font-size: small;
  }
  .collage__index__column-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000222;
  }
  .carousel__service {
    margin-left: 0px;
    margin-right: 0px;
  }
  .carousel__service img {
    opacity: 5;
    height: 200px;
  }
  .advice {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 20px;
  }
  .advice__description {
    display: flex;
    justify-content: Center;
    width: 100%;
    margin: 50px 20px 50px 20px;
  }
  .advice__description__picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
  }
  .advice__description__picture img {
    display: flex;
    justify-content: center;
  }
  .because__column {
    display: flex;
    flex-direction: column;
  }
  .container__footer__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .container__grid {
    display: grid;
    grid-template-areas: "links" "content_index" "foot ";
  }
  .nav {
    grid-area: links;
  }
  .content {
    grid-area: content_index;
  }
  .container__footer {
    grid-area: foot;
  }
  .explanation__us {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 50px 50px 50px 50px;
  }
  .explanation__us__img {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 0px 0px 0px;
  }
  .explanation__us__img img {
    border-radius: 5px;
    justify-content: center;
    width: 100%;
  }
  .explanation__us__text {
    margin: 20px 0px 20px 0px;
  }
  .explanation__us__text p {
    text-align: justify;
    padding-top: 30px;
  }
  .more__details__about__vision {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 50px 50px 50px;
  }
  .more__details__about__vision__img {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .more__details__about__vision__img img {
    border-radius: 5px;
    width: 100%;
  }
  .more__details__about__vision__text {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .more__details__about__vision__text h2 {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
  }
  .more__details__about__vision__text p {
    text-align: justify;
    padding-top: 20px;
  }
  .more__details__about__mision {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px;
  }
  .more__details__about__mision__img {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .more__details__about__mision__img img {
    border-radius: 5px;
    width: 100%;
  }
  .more__details__about__mision__text {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .more__details__about__mision__text h2 {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
  }
  .more__details__about__mision__text p {
    text-align: justify;
    padding-top: 20px;
  }
}
@media (max-width: 700px) {
  .container__grid {
    display: grid;
    grid-template-areas: "links" "content_index" "foot ";
  }
  .nav {
    grid-area: links;
  }
  .content {
    grid-area: content_index;
  }
  .container__footer {
    grid-area: foot;
  }
  .title__service {
    display: flex;
    flex-direction: column;
  }
  .title__service h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 22px;
    background-color: #120033;
    color: white;
    font-weight: 800;
  }
  .title__service p {
    padding-top: 10px;
    color: #747474;
    font-size: 15px;
  }
  .content__service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0px 30px 0px;
  }
  .content__service__row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content__service__col {
    height: 400px;
  }
}
@media (max-width: 700px) {
  .container__grid {
    display: grid;
    grid-template-areas: "links" "content_index" "foot ";
  }
  .nav {
    grid-area: links;
  }
  .content {
    grid-area: content_index;
  }
  .container__footer {
    grid-area: foot;
  }
  .plans {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  .plans__row {
    display: flex;
    flex-direction: column;
  }
  .plans__row__reverse {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .container__grid {
    display: grid;
    grid-template-areas: "links" "content_index" "foot ";
  }
  .nav {
    grid-area: links;
  }
  .content {
    grid-area: content_index;
  }
  .container__footer {
    grid-area: foot;
  }
  .title__service__rubros {
    display: flex;
    flex-direction: column;
  }
  .title__service__rubros h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 22px;
    background-color: #120033;
    color: white;
    font-weight: 800;
  }
  .title__service__rubros p {
    padding-top: 10px;
    color: #747474;
    font-size: 15px;
  }
  .service__explanation {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    padding-top: 20px;
    margin: 8px;
    box-shadow: -2px 3px 9px 2px #717997;
  }
  .service__explanation__reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    background-color: #ebebeb;
    padding-top: 20px;
    margin: 8px;
    box-shadow: -2px 3px 9px 2px #717997;
  }
  .service__explanation__reverse__text {
    margin-left: 50px;
  }
  .more__details__column {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
