.portada{
    h1{
        display: flex;
        text-align: end;
        color:white;
        position: absolute;
        z-index: 1;
        font-weight: 800;
    }
}



.main{
    display: flex;
    flex-direction: column;
    &__title{
        @include title__primary;
    }
    &__rubros{
    display: flex;
    flex-direction: row;
    width: 100%;
        &__explication{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:5px;
        background-color: #ebaba0;
            p {
                font-size: 15px; 
                font-family: "Times New Roman", serif; 
                quotes: "\201C" "\201D"; 
                padding: 10px;
                text-align: center;
                }
                p:before,
                p:after {
                content: open-quote;
                font-size: 50px; 
                vertical-align: middle;
                }
                p:after {
                content: close-quote;
                }  
    }
    
        &__text{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 50%;
        background-color:#3d3d3d;
        margin:10px;
         height: 400px;
        &__2{
            display: none;
            background-color: #f1e4e44a;
            width: 100%;
            height: 100%;
            justify-content: center;
           
        }
        &__1{
            color:white;
            font-weight: 600;
            background-image: url(../assets/logistica-v3.JPG);
            width: 100%;
            height: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            p{
                font-family: initial;
                font-size: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #0e0e0e96;
                width: 100%;
            }
        }
       &:hover .main__rubros__text__1{
        display: none;
       }
        &:hover .main__rubros__text__2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        padding: 30px;
        align-items: center;
        width: 100%;
        color:white;
       }
        a{
            text-decoration: none;
            color:white;
            background-color: #807e8394;
            padding: 10px;
            margin-top: 20px;
            border-radius: 20px;
            &:hover{
                transform: scale(1.5);
            }
        }
}
}
    &__rubros__reverse{
    display: flex;
    flex-direction: row-reverse;
        &__explication{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
         width: 50%;
        margin: 10px;
        background-color:#dbdbdb;
          p {
                font-size: 15px; 
                font-family: "Times New Roman", serif; 
                quotes: "\201C" "\201D"; 
                padding: 10px;
                text-align: center;
                }
                p:before,
                p:after {
                content: open-quote;
                font-size: 50px; 
                vertical-align: middle;
                }
                p:after {
                content: close-quote;
                }  
       
    }
        &__text{
        display: flex;
        width: 50%;
        height: 400px;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #3d3d3d;
        margin:10px;
       
        &__2{
            display: none;
            background-color: #f50d0d4a;
            width: 100%;
            height: 100%;
            justify-content: center;
        }
        &__1{
            color:white;
            font-weight: 600;
            background-image: url(../assets/transporte-v3.JPG);
            width: 100%;
            height: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            p{
                font-family: initial;
                font-size: 40px;
                 display: flex;
                justify-content: center;
                align-items: center;
            
                width: 100%;
            }
        }
        &:hover .main__rubros__reverse__text__1{
            display: none;
        }
        &:hover .main__rubros__reverse__text__2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: justify;
            padding: 30px;
            align-items: center;
            width: 100%;
            color:white;
        }
        a{
            text-decoration: none;
            color: white;
            background-color:#807e8394;
            padding: 10px;
            border-radius: 20px;
             &:hover{
                transform: scale(1.5);
            }
        }
        
    }
}
}


    
.advice{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e7e7;
        &__title{
        width: 100%;
        @include title__primary;
         }
        &__description{
                display: flex;
                flex-direction: row-reverse;
                margin:50px 20px 50px 20px;
        &__text{
                display: flex;
                width: 100%;
                flex-direction: column;
                background-color:#f5f5f5 ;
                padding: 30px;
                margin:30px;
                box-shadow: 8px -8px 8px 0px #e5e5e5;
                  p{
                     text-align: justify;
                     }
                img{
                    width: 100%;
                    padding: 0px 90px 0px 90px;
                }
                
                 h2{
                    color:#000150;
                    text-align: center;
                    padding: 10px 0px 10px 0px;
                     }
                 ul{
                    text-align: justify;
                     }
                 li{
                    padding-bottom: 10px;
                   } 
               }
       
        }
}    
.img-3{
    padding-bottom: 40px;
    width: 100%;
    content-visibility: hidden;
}
.because{
    display:flex;
    flex-direction: column;
    background-color: #da7c03;
    
    &__title{
        text-align: center;
        margin-bottom: 60px;
        padding-top: 140px;
        color:#dbdbdb;
        h2{
            font-weight: bolder;
            font-size: 40px;
        }
    }
    &__column{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:30px;
    }
    &__reason{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 30px 0px 30px;
        p{
             text-align: justify;
             font-size: 1rem;
        }
    }
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 3px solid #684301;
    border-radius: 50%;
    background-color: #aca6c5;
}

.prevencion {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
    margin-right: 5px;
}

.safe {
    font-family: sans-serif;
    font-size: 14px;
    color: #b16c00;
}
