.portada{
    h1{
        display: flex;
        text-align: end;
        color:white;
        position: absolute;
        z-index: 1;
        font-weight: 800;
    }
}
.main__items{
    display:flex;
    flex-direction: column;
    &__title{
        @include title__primary;
    }
    &__img{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 50px;
<<<<<<< HEAD
     
=======
       padding-top: 0cap;
>>>>>>> sass
        &__one{
            padding-top: 50px;
            width: 350px;
            height: 400px;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__two{
            width: 350px;
            height: 400px;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__three{
            padding-top: 50px;
            width: 350px;
            height: 400px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.advice{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #e7e7e7;
        &__description{
                display: flex;
                flex-direction: row-reverse;
                margin:50px 20px 50px 20px;
        &__text{
                display: flex;
                width: 100%;
                flex-direction: column;
                background-color:#f5f5f5 ;
                padding: 30px;
                margin:30px;
                box-shadow: 8px -8px 8px 0px #e5e5e5;
                  p{
                     text-align: justify;
                     }
                 h2{
                    color:#000150;
                    text-align: center;
                    padding: 10px 0px 10px 0px;
                     }
                 ul{
                    text-align: justify;
                     }
                 li{
                    padding-bottom: 10px;
                   } 
               }
        &__picture{
             display:flex;
             width: 100%;
             margin-left: 20px;
             flex-direction: column;
             img{
                padding-bottom: 40px;
                width: 100%;
             }
              }
        }
}    
.img-3{
    padding-bottom: 40px;
    width: 100%;
    content-visibility: hidden;
}
.because{
    display:flex;
    flex-direction: column;
    background-color: #df840b;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0, 0% 100px);
    &__title{
        text-align: center;
        margin-bottom: 60px;
        padding-top: 140px;
        h2{
            font-weight: bolder;
            font-size: 40px;
        }
    }
    &__column{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:30px;
    }
    &__reason{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 30px 0px 30px;
        p{
             text-align: justify;
             font-size: 1rem;
        }
    }
}
