.container__grid{
    display:grid;
    grid-template-areas: 
    "links links links"
    "content content content"
    "content content content"
    "foot foot foot"
    ;
}
<<<<<<< HEAD
.nav{
    grid-area: links;
}
.content{
    grid-area: content;
}
=======
//content_nav_menu
.nav{
    grid-area: links;
}
//content home ect
.content{
    grid-area: content;
}
//content footer
>>>>>>> sass
.container__footer{
    grid-area: foot;
}

