@media (max-width:700px){
    .container__grid{
    display:grid;
    grid-template-areas: 
    "links"
    "content_index"
    "foot "
    ;
}
.nav{
    grid-area: links;
}
.content{
    grid-area: content_index;
}
.container__footer{
    grid-area: foot;
}
.portada{
    h1{
        font-size: 20px;
        padding: 100px 30px 0px 30px;
    }
}
.main__title{
    width: 100%;
    h2{
        font-size: 25px;
        P{
            font-size: 15px;
        }
    
    }    
}
.main__rubros{
    display: flex;
    flex-direction: column-reverse;
    &__explication{
        width: 100%;
        margin: 0px;
        height: 400px;
      
    }
    &__text{
        
        width: 100%;
        margin:0px;
         &__1{
            font-weight: 300;
            p{
                font-size: 20px;
                display: contents;
            }
        }
    }
    &__reverse{
        display: flex;
        flex-direction: column-reverse;
            &__explication{
              width: 100%;
              margin: 0px;
              height: 400px;
       
    }
    &__text{
        width: 100%;
        margin:0px;
        &__1{
            font-weight: 300;
            margin:10px;
            p{
                display: contents;
                font-size: 20px;
            }
        }
    }
    }
}

.advice{
     display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 20px;
    &__title{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 20px;
            p{
                font-size: 15px;
            }
        }
    }
    &__description{
        display: flex;
        justify-content: Center;
        width: 100%;
        margin:50px 20px 50px 20px;
        &__text{
            width: 100%;
            img{
           padding: 0px;
        }
        }
        &__picture{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0px;
        padding: 0px 5px 0px 5px;
        
         }
    }
   
}

.because__column{
    display: flex;
    flex-direction: column;
}
.container__footer__column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


}
 
