@media (max-width:700px){
    .container__grid{
    display:grid;
    grid-template-areas: 
    "links"
    "content_index"
    "foot "
    ;
}
.nav{
    grid-area: links;
}
.content{
    grid-area: content_index;
}
.container__footer{
    grid-area: foot;
}
.front-page h2{
    content-visibility: hidden;
}
.front-page p{
    content-visibility: hidden;
}
.more__about{
    display: flex;
    flex-direction: column;
    &__img{
        width: 100%;
    }
    &__text{
        width: 100%;
    }
    &__reverse{
        display:flex;
        flex-direction: column;
        &__img{
            width: 100%;
        }
        &__text{
            width: 100%;
        }
    }
}
.values{
    display: flex;
    flex-direction: column;
    &__title{
        color:aliceblue;
        h2{
            font-size: 20px;
        }
        P{
            font-size: 15px;
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        &__part{
            width: 100%;
        }
    }
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: justify;
    &__text1{
        padding: 10px;
    }
    

}

}