@media (max-width:700px){
    .container__grid{
    display:grid;
    grid-template-areas: 
    "links"
    "content_index"
    "foot "
    ;
}
.nav{
    grid-area: links;
}
.content{
    grid-area: content_index;
}
.container__footer{
    grid-area: foot;
}

.plans{
    display: flex;

   &__nav{
    display: flex;
    flex-direction: column;

    &__sub{
        display: flex;
        flex-direction: column;
      }
   }
   &__row{
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
    }
    &__reverse{
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
        }
    }
   }
   &__right{
    display: flex;
    flex-direction: column;
    width: 100%;
   }


}
.plans__reverse{
    width: 100%;

}

}