<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro2</title>
</head>
<body>
    <h1>Registro de formulario</h1>
    <form action="/validar" method="post">

        Cédula:
        <input type="number" name="ced" id="ced"><br>

        Nombres:
           <input type="text" name="nom" id="nom"><br>

          Apellido:
           <input type="text" name="apell" id="apell"><br>
           Correo:
           <input type="email" name="correo" id="correo"><br>

            Contraseña:
           <input type="password" name="pass" id="pass"><br>

           <input type="submit" value="Registrar">
        
    </form>
</body>
</html>